# Created by http://www.gitignore.io

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp


### SublimeText ###
# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

#sftp configuration file
sftp-config.json


### Composer ###
composer.phar
# vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

### Other Stuff ###
# Ignore backups
*.bak

# Ignore test template
template-test.php
template-test.png

# Ignore Prepros #
prepros.json
prepros-ftp.json

# Ignore Bower #
# bower_components/

# Ignore .git folders #
vendor/drewm/mailchimp-api/.git


### Custom BetterOptin ###
/node_modules